body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

button {
  color: white;
  background-color: green;
  width: 210px;
  font-size: 12px;
  border-radius: 2%
}